* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}


html {
    
    background-color: #fff;
    color: #555;
    font-family: 'Lato' , "Arial" , sans-serif; 
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;

}




.row {
    
     max-width: 1600px;
    margin: 0 auto;
}




body {
    
    font-family: sans-serif;
      
}




 /* top- nav -------------------------------------------- */
/* -------------------------------------------------------- */




.container {
    
    width: 90%;
    margin: 0 auto;
    
    
}



.navbar {
    
    width: 100%;
    overflow: hidden;
    height: 70x;
    line-height: 70px;
    background: #fff;
    border-bottom: 2px solid black;
    position: fixed;
    z-index: 999;
    }

.logo {

    padding-bottom: 1px;
    padding-top: 1px;
    height: 70px;
    margin-left: 130px;
    width: 160px;
    float: left;
  
    
}



/* this is for ul tag */

.menu {
    
    float: right;
   
    
}

.menu li {
    
    width: 120px;
    float: left;
     height: 70px;
    line-height: 70px;
    text-align: center;
    list-style: none;
}


.menu li a {
      
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    font-family: 'Lato' , "Arial" ,  sans-serif; 
    font-weight: 400;
    font-size: 20px;
    
}


.menu li:hover {
    
    background: #e67e22;
}

.menu li a:hover {
    
    color: #fff;
}



label {
 
    margin: 0 0 0 0;
    font-size: 26px;
    line-height: 70px;
    width: 26px;
    float: right;
    visibility: hidden;
   
}



#toggle { 

display: none;
    
}



@media only screen and (max-width: 991px)  {
    
    
    
    .logo { margin-left: 30px;}
    
   
   .menu{ 
     display: flex;
    text-align: center;
    width: 68%;
    display: none;
    }
    
    
    .menu a {
        
        
        display: grid;
        border-bottom: 1px solid #eaeaeb;
        margin: 0;
        
    }

   label{
         
       visibility: visible;
        display: block;
       cursor: pointer;
    }


    #toggle:checked + .menu {
        
        display:block;
     
    }
    
    
    
} 
    



/* -------------------------------------------------------- */

/* -------------------------------------------------------- */


/* -------------------------------------------------------- */
       
/* -------------------------------------------------------- */
.raper {
    
    
    z-index: -1000;
    height: 118vh;
    justify-content: center;
    overflow: hidden;
    padding-top: 70px;
    background-color: black;
    
}



background-wrap {
     position: absolute;
     z-index: -1000;
     width: 100%;
     height: 100vh;
    justify-content: center;
    overflow: hidden;
    top: 0;
    left: 0;
  
     }



#vid {
     width: 100%;
    height: auto;
    min-height:100%;
    min-width: 100%;
    
}



@media only screen and (max-width: 1500px) {
    
    .raper {
    
    
    z-index: -1000;
    width: 100%;
    height: 100vh;
    justify-content: center;
    overflow: hidden;
   
    background-color: black;
    
}



background-wrap {
     position: absolute;
     z-index: -1000;
     width: 100%;
     height: 100vh;
    justify-content: center;
    overflow: hidden;
    top: 0;
    left: 0;
  
     }



#vid {
     
    width: 100%;
    min-height:10%;
    min-width: 10%;
    
}

    
    
}



@media only screen and (max-width: 500px) {
    
    .raper {
    
    
    z-index: -1000;
    width: 100%;
    height: 48vh;
    justify-content: center;
    overflow: hidden;
   
    background-color: black;
    
}



background-wrap {
     position: absolute;
     z-index: -1000;
     width: 100%;
     height: 100vh;
    justify-content: center;
    overflow: hidden;
    top: 0;
    left: 0;
  
     }



#vid {
    height: 100%;
    width: 100%; 
    min-height:10%;
    min-width: 10%;
    
}

    
    
}

/* -------------------------------------------------------- */
       
/* -------------------------------------------------------- */


/* -------------------------------------------------------- */
       
/* -------------------------------------------------------- */



header {
    
  
     
    height: 100vh;

   
      
}






.phara { 
  color: #fff;
  margin-top: 20px;
  max-width: 70%;
}


@media only screen and (max-width: 500px) {
    
  header {
    
   
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(photo1.jpg);
    background-color: gray; 
    background-size: cover;
    background-position: center; 
    height: 48vh;
   
      
}
    
    
 
    
    
}



/* -------------------------------------------------------- */
       
/* -------------------------------------------------------- */

/* -------------------------------------------------------- */
       
/* -------------------------------------------------------- */




h1,
h2,
h3 {
    
   
   font-weight: 300;
   text-transform: uppercase;
    
    
}
 

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    white-space: 4px;
    letter-spacing: 1px;
    
    
}

h2{

    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;

}


h2:after {
    
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 15px;
}



h3 {
    font-size: 110%;
    margin-bottom: 15px;
    
}



/* -------------------------------------------------------- */
       
/* -------------------------------------------------------- */

.hero {
    
    margin-top: 80px;
    background-image:  linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(photo1.jpg);
    background-color: gray; 
    background-size: cover;
    background-position: center; 
    height:75vh;
    
}


.hero-text-box{
    padding-top: 80px;
    text-align: center;
}

.hero-text-box h1 {
    padding-top: 20px;
    margin: auto;
   font-size: 350%;
}

.hero-text-box p {
    margin: auto;
  font-size: 250%;
    padding-top: 20px;
}

@media only screen and (max-width: 500px) {
    
    
.hero {
    
   margin-top: 0px;
     background-image:  linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(photo1.jpg);
    background-color: gray; 
    background-size: cover;
    background-position: center; 
    height: 100vh;
    
}

    


.hero-text-box h1 {
    padding-top: 20px;
    margin: auto;
   font-size: 250%;
}

.hero-text-box p {
    margin: auto;
  font-size: 110%;
    padding-top: 20px;
}
    
}

/* -------------------------------------------------------- */
       
/* -------------------------------------------------------- */




.section-features {
       
    padding: 20px;
    
}

#sec2h {
    
    padding-left: 5px
    
}

.box p {
    
    font-size: 90%;
    line-height: 145%;
}




.box1 {
    padding: 1%; 
   

}





.icon-big {
    
    font-size: 350%;
    display: block;
    color: 	#e67e22;
    margin-bottom: 35px;
    margin-left: 35%;
    

}
@media only screen and (max-width: 500px) {
    
    
    #sec2h {
    
   text-align: center;
    
}
    
    
    .icon-big {
    
    font-size: 350%;
    display: block;
    color: 	#e67e22;
    margin-bottom: 10px;
    margin-left: 0%;
    margin-top: 25px;
   

} 
    
    
}

/* -------------------------------------------------------- */
       
/* -------------------------------------------------------- */

/* -------------------------------------------------------- */
       
/* -------------------------------------------------------- */

.section-cards {
  
    background-color: rgb(240, 240, 240);
    padding-top: 20px;
    padding-bottom: 10px;
  
}    


.psection {
 
    text-align:center;
    
}
    
.box2 {
   
    padding: 1%;
    display:inline-block;
    float: center;
    margin-top: 90px;
    margin-left: 18px;
    font-size: 75%;
    border: 2px solid black;
    box-shadow: 5px 10px #888888;
    margin-bottom: 15px;
    background-color: white;
    border-radius: 5%
    


    
}


.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
 
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  margin-left: 25px;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;

}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}



.flip-card-back h1{
padding-top: 50px;
    padding-left: 5px;
padding-right: 5px;
}

@media only screen and (max-width: 500px) {
    
.amazon {

    
 width: 80%;
}

}




.items-head {
    
    padding-left: 5px
    
}


.type {
  padding-top: 5px;  
padding-left: 5px
    
}

.price {
    
 padding-left: 5px
}

.shipping {
    
   padding-left: 5px
}



.class-link {
    
   
    display: inline-block;
    padding-top: 15px;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    border: 1px solid;
    color: #fff;
    background-color: #e67e22;
    
   
;
    
    
}

.div-link {
    
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    transition-property: width, height;
    padding-bottom: 3px;
    
}


.div-link:hover {
    
    height: 70%;
    transform: scale(1.15)
}

.icon-small {
    
    padding-right: 5px;
color: green;
}


/* -------------------------------------------------------- */
       
/* -------------------------------------------------------- */



/* -------------------------------------------------------- */
       
/* -------------------------------------------------------- */

.new {
    
    background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(photo2.jpg);
    background-size: cover;
    background-position: center; 
    color: #fff;
    
    
    
    
}


.new h2 {
    
    padding-top: 20px;
}

.new p {
    
    font-size:110%;
    
  
    
}


.new img {
  
    margin-top: 10px;
    height:50px;
    width: 50px;
    border-radius: 50%;
    
}




@media only screen and (max-width: 1600px) {
    
    .test-container {
    padding-left: 20px;
        padding-right: 20px;
   
}


    
    
}






@media only screen and (max-width: 600px) {
    
    .test-container {
    text-align: center;
    margin-left: 3px;
        margin-right: 0px;
   }
    
    
    .lit-box {
        
        margin-bottom: 70px;
    }
    
    .new p {
    
    font-size: 90%;
  
    
}
    
    
}

/* -------------------------------------------------------- */
       
/* -------------------------------------------------------- */




footer {
    
    background-color: black;
    color: white;
    text-align: center
        
}

footer a {
    
    color: white;
}



#skype {
  
    float: center;
    font-size: 200%;
    transition: color 0.2s;
    cursor: pointer;
}


#skype:hover

{
    
    color: #0078d7;
}

@media only screen and (max-width: 500px) {
    
    #skype {
  
    
    font-size: 250%;
  
}

}